$yellowColor: #ffd500;
$blueColor: #003f88;
$darkBlueColor: #023266;
$LightBlueColor: #e6f1ff;
$whiteColor: #fff;
$headingColor: #011e4e;
$inputSearchColor: #f7f7f7;
$greyColor: #eaeaea;
$facebook: #4267b2;
$email: #bb001b;
$twitter: #1da1f2;
